*{
    font-family: 'Lato', 'Oxygen', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }


#edit-button{
    position: absolute;
    left: 94%; 
    background-image: linear-gradient(to right, rgb(153, 17, 153) , rgb(192, 92, 223));
    font-weight: bold;
    color: white;
}
#drop-button{
    margin-left: 80%;
    top: 10px;
    font-weight: bold;
    color: white;
}
#profile-img{
    width: 60px;
    border-radius: 10%;
    background: none;
}
.dropdown-menu{
    background: transparent;
    border: none;
    left: -40px;
}
.dropdown-menu button{
    margin: 10px 0;
}
button[type='submit']{
    background-image: linear-gradient(to right, rgb(153, 17, 153) , rgb(192, 92, 223));
}
#register .container{
    background-color: rgb(224, 224, 224);
    margin-top: 20px;
    box-shadow: 0 0 10px 2px rgb(148, 148, 148);
    border-radius: 10px;
    padding: 30px 60px;
    width: 700px;
}
#register .input-group-text{
    width: 100px;
    background-image: linear-gradient(to right, rgb(153, 17, 153) , rgb(192, 92, 223));
    border: 1px solid rgb(180, 12, 180);
    color: rgb(219, 219, 219);
    font-weight: bold
}
#register input, #register select{
    background-color: transparent;
    border: 1px solid rgb(180, 12, 180);
}
#register h3{
    text-align: center;
    color: rgb(73, 73, 73);
}


#login{
    background-color: rgb(167, 23, 167);
    height: 400px;
    width: 600px;
    margin: auto;
    position: relative;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(139, 139, 139);
}
#login img{
    width: 30%;
    float: right;
    position: relative;
    top: -100px;
    left: 50px;
}
#login{
    color: rgb(196, 196, 196);
}
#login h1{
    text-align: center;
    margin-left: 200px;
    padding-top: 20px;
}
#login input{
    width: 50%;
    float: right;
    position: relative;
    top: 50px;
    left: 10%;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
#login-register{
    text-align: center;
    position: absolute;
    top: 80%;
    width: 100%;
    display: block;
}
#login .btn{
    left: 60px;
    top: 80px;
    background-color: rgb(2, 94, 155);
}
#login label{
    position: relative;
    top: 55px;
    left: 100px;
}

thead{
    background-color: violet;
}
#row:hover{
    background-image: linear-gradient(to right, rgb(194, 21, 194) , rgb(204, 158, 204));
    color: white;
}
#users .container{
    padding: 10px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 0 20px 5px violet;
    border-radius: 10px;
}
