{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Users - HOME</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This application is help to create and list the users" />
    <meta name="keywords" content="users, tech, technology" />
    <meta name="users" content="users" />
    <link rel="shortcut icon" href="{% static 'resources/logo.jpg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<style>
  a:hover {
    text-decoration: none;
  }
</style>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <nav class="navbar  navbar-expand-md" id="main-nav">
    <a href="{% url 'add_new_user' %}"><button class="btn btn-primary">Add User</button></a>
    <div class="dropdown" id="drop-button">
      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
        <img src="{{ user.profile_photo.url }}" id="profile-img" alt="DP">
      </button>
      <div class="dropdown-menu" style="margin-left: -30px;">
        <button id="logout-button" data-toggle="modal" data-target="#confirmation" class="btn btn-light form-control">Delete
            Account</button>
        <a href="{% url 'logout' %}"><button id="logout-button" class="btn btn-danger form-control">Logout</button></a>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="confirmation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure..?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <a href="{% url 'delete_my_account' %}"><button class="btn btn-danger form-control">Yes, I am Sure</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div id="users">
    <br>
    <div class="container">
      <h2 style="text-align: center;">Users list</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Photo</th>
            <th>Create At</th>
            <th>Action</th>
          </tr>
        </thead>
        {% for data in users %}
        <tbody>
          <tr id="row">
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.phone}}</td>
            <td><button class="btn btn-light" data-toggle="modal" data-target="#data{{data.id}}"><img src="{{ data.profile_photo.url }}" id="profile-img" alt="DP"></button></td>
            <td>{{data.created_at}}</td>
            <td>
              <button class="btn btn-primary" data-toggle="modal" data-target="#update{{data.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="btn btn-danger" data-toggle="modal" data-target="#delete{{data.id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>

        <div class="modal fade" id="data{{data.id}}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{ data.first_name }} {{ data.last_name }} - Profile Photo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <center><img src="{{ data.profile_photo.url }}" width="400px" alt="DP"></center>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="update{{data.id}}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{ data.first_name }} {{ data.last_name }} - UPDATE</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="/update/user" method="POST">
                  {% csrf_token %}
                  <input type="text" class="form-control" name="id" value="{{ data.id }}" hidden>

                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" name="first_name" value="{{ data.first_name }}">

                  <label for="last_name">Last Name</label>
                  <input type="text" class="form-control" name="last_name" value="{{ data.last_name }}">

                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" name="phone" value="{{ data.phone }}">
                  <br>
                  <button class="btn btn-primary form-control">Update</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="delete{{data.id}}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">DELETE - {{ data.first_name }} {{ data.last_name }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="/delete/user" method="POST">
                  {% csrf_token %}
                  <input type="text" class="form-control" name="id" value="{{ data.id }}" hidden>
                  <button class="btn btn-danger form-control">DELETE</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </table>
    </div>

    {% if users %}
    <div class="pagination" style="margin: 10px 0 10px 45.5%;">
      <span class="step-links">
        {% if users.has_previous %}
        <a href="?page={{ users.previous_page_number }}"><input type="button" value="Previous"></a>
        {% endif %}

        <span class="current">
          Page {{ users.number }} of {{ users.paginator.num_pages }}
        </span>

        {% if users.has_next %}
        <a href="?page={{ users.next_page_number }}"><input type="button" value="Next"></a>
        {% endif %}
      </span>
    </div>
    {% else %}
    <h4 style="text-align: center;">No Users Record Found</h4>
    {% endif%}
  </div>

</body>

</html>

{% endblock %}