{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users - Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to create and list the users" />
  <meta name="keywords" content="users, tech, technology" />
  <meta name="users" content="users" />
  <link rel="shortcut icon" href="{% static 'resources/logo.jpg' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% if user.is_authenticated %}
  <div class='login-center'>
    <div class="login">

      <div class="login-left">
        <img src="{% static 'resources/logo2.png' %}" alt="KPR logo">
      </div>

      <div class="login-right">
        <h1 id="h1">Already Logged In</h1>
        <img src="{% static 'resources/logo1.png' %}" alt="KPR logo">
        <div id="login-a">
          <a href="#" type="button"><span>Services</span></a>
          <a href="#" type="button"><span>My Profile</span> </a>
          <a href="#" id="logout" type="button"><span>Logout</span></a>
        </div>
      </div>

    </div>
  </div>


  {% else %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <div id="login">
    <img src="{% static 'resources/logo2.png' %}" alt="KPR logo">
      <h1>Log In</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div>
          <label for="username">Email</label>
          <input type="email" class="form-control" value="{{username}}" name="username" id="username"
            title="Valid Email only is allowed to login" placeholder="Email" required>
        </div><br>
        <div>
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    <div id="login-register">
      <h6><a href="#"  data-toggle="modal" data-target="#forget">Forget Password</a><br>
      Dont't have an account? <a href="register">Register Here</a></h6>
    </div>
  </div>
  <div class="modal fade" id="forget">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Recover My Password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form action="/reset-password" method="POST">
            {% csrf_token %}
            <label>Email *</label>
            <input type="email" name="email" placeholder="Email" class="form-control" required>
            <label>New Password *</label>
            <input type="password" name="password" placeholder="New Password" class="form-control" required>
            <label>Re - Enter *</label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" required><br>
            <button class="btn btn-success" type="submit">Reset My Password</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

{% endif %}
{% endblock %}