{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users - Register</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to create and list the users" />
  <meta name="keywords" content="users, tech, technology" />
  <meta name="users" content="users" />
  <link rel="shortcut icon" href="{% static 'resources/logo.jpg' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  a:hover {
    text-decoration: none;
  }
</style>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <nav class="navbar  navbar-expand-md" id="main-nav">
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}"><button id="edit-button" class="btn btn-primary">Home</button></a>
    {% else %}
    <a href="{% url 'login' %}"><button id="edit-button" class="btn btn-light">Login</button></a>
    {% endif %}
  </nav>

  <div id="register">
    <div class="container">
      <h3>NEW USER REGISTRATION</h3>
      {% if user.is_authenticated %}
      <form action="/add/user" enctype="multipart/form-data" method="POST">
      {% else %}
      <form action="register" enctype="multipart/form-data" method="POST">
      {% endif %}
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Full Name</span>
            </div>
            <input type="text" name="first_name" value="{{form.first_name}}" class="form-control" placeholder="First Name" required>
            <input type="text" name="last_name" value="{{form.last_name}}" class="form-control" placeholder="Last Name" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Photo</span>
            </div>
            <input type="file" class="form-control" value="{{form.profile_photo}}" value="{{form.profile_photo}}" name="profile_photo" id="chooseFile">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Gender</span>
            </div>
            <select name="gender" class="form-control" required>
              {% if form %}
              <option value="{{form.gender}}">{{form.gender}}</option>
              {% else %}
              <option value="">Select Gender</option>
              {% endif %}
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Phone</span>
            </div>
            <input type="number" name="phone" value="{{form.phone}}" class="form-control" placeholder="Phone Number" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="email" name="email" value="{{form.email}}" class="form-control" placeholder="Email" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Re - Enter</span>
            </div>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
          </div>

          <br>
          <button class="form-control btn btn-primary" type="submit">SUBMIT</button>

        </form>
    </div>
  </div>

  <script>
    $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    })
  </script>
  {% for data in articles %}
  <img id="nav-img" src="{% static 'resources/logo3.gif' %}" alt="image">
  {{data}}
  {% endfor %}

</body>

</html>

{% endblock %}