{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Users - OTP Verification</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This application is help to create and list the users" />
    <meta name="keywords" content="users, tech, technology" />
    <meta name="users" content="users" />
    <link rel="shortcut icon" href="{% static 'resources/logo.jpg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<style>
  a:hover {
    text-decoration: none;
  }
</style>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div class='login-center'>
    <div class="login">
      <div class="login-left">
        <img src="{% static 'resources/logo2.png' %}" alt="KPR logo">
      </div>
      <div class="login-right">
        <img src="{% static 'resources/logo1.png' %}" alt="KPR logo">
        <h1>Re - Send OTP</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <div><br><br>
            <input type="text" name="college_email" id="college_email" title="Check your registred email"
              placeholder=" " required>
            <label for="college_email">Your Email</label>
          </div>
          <input type="submit" value="Re-Send">
        </form>
      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}